/*Общие стили*/
@font-face {
    font-family: Aksent_Normal;
    src: url("../fonts/Aksent_Normal.ttf");
    src: url("../fonts/Aksent_Normal.ttf") format('truetype');
    font-weight: normal;
    font-style: normal
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0
}

body {
    font-size: 14px;
    line-height: 18px;
    font-family: sans-serif;
    font-weight: 400
}

/*Главный слой*/
#fon {
    background: #e1f4f8;
    height: 100%;
}

/*Шапка*/
#header {

}

/*Подвал*/
#footer {

}
